.login{
    position: relative;
    width:200px;
    margin:0 auto;
}
img{
    position:absolute;
    width:30px;
    top:1px;
    right: 5px;
}
input{
    border-style:none;
    border-bottom:1px solid #ccc;
    outline: none;
}