.slider{
    width:500px;
    margin:100px auto;
    /* background-color:bisque; */
    /* opacity:.5; */
    overflow: hidden;
    position: relative;
}
.slider-content{
    width:2000px;
}
.slider-content li{
    float: left;
    width:500px;
    list-style-type: none;
}
.slider-content li img{
    width:100%;
    height:100%;
    display: block;
}
.slider span{
    position: absolute;
    display: inline-block;
    width:50px;
    height:50px;   
    background-color: black;
    cursor: pointer;
} 
.arrow-left{
    left:0px;
    top:50%;
    margin-top:-25px;
}
.arrow-right{
    right:0px;
    top:50%;
    margin-top:-25px;
}
.nav{
    width:100%;
    position: absolute;
    left:50%;
    margin-left:-66px;
    bottom:0;
    z-index: 10;
}
.nav li{
    display:block;
    width:20px;
    height: 20px;
    float: left;
    margin:0 6px;
    border-radius: 50%;
    background-color: #ccc;
    cursor:pointer;
}
.nav .current{
    background-color:#000;
}
.clearfix::after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	clear: both;
}